---
---

{% include head.html %}

<h1>Hello</h1>

<div id="chat-box">
	<ul id="chat-messages"></ul>
	<form action="#0" id="chat-form"></form>
</div>

{% raw %}
<template id="tpl-question">
	<li class="message">
		{{label}}
	</li>
</template>

<template id="tpl-answer-radio">
	<ul>
		{{#each choices}}
		<li id="question-{{../id}}-answer-{{id}}">
			<label>
				<input type="radio" name="question-{{../id}}" value="{{id}}">
				{{label}}
			</label>
		</li>
		{{/each}}
	</ul>
</template>

<template id="tpl-answer-checkbox">
	<ul>
		{{#each choices}}
		<li id="question-{{../id}}-answer-{{id}}">
			<label>
				<input type="checkbox" name="question-{{../id}}[]" value="{{id}}">
				{{label}}
			</label>
		</li>
		{{/each}}
	</ul>
</template>
{% endraw %}

{% include footer.html %}
