---
---

{% include head.html %}

<h1>Hello</h1>

<form class="card yellow">
	<label class="question">This is an awesome question</label>
	<ul class="answers">
		<li>Yes</li>
		<li>No</li>
		<li>La réponse D</li>
	</ul>
</form>

<form class="card green">
	<label class="question">Is this an awesome question?</label>
	<ul class="answers">
		<li>Yes</li>
		<li>No</li>
		<li>La réponse D</li>
	</ul>
</form>

<form class="card red">
	<label class="question">This is an awesome question</label>
	<ul class="answers">
		<li>Yes</li>
		<li>No</li>
		<li>La réponse D</li>
	</ul>
</form>

<form class="card blue">
	<label class="question">This is an awesome question</label>
	<ul class="answers">
		<li>Yes</li>
		<li>No</li>
		<li>La réponse D</li>
	</ul>
</form>

{% include footer.html %}