---
---

{% include head.html %}

<div id="chat-box">
	<ul id="chat-messages"></ul>
	<form action="#0" id="chat-form"></form>
</div>

{% raw %}
<template id="tpl-question">
	<li class="message bot">
		{{label}}
	</li>
</template>

<template id="tpl-answer-radio">
	<li class="message user">
		{{label}}
	</li>
</template>
<template id="tpl-answer-checkbox">
	<li class="message user">
		{{#each choices}}
		{{label}}
		{{/each}}
	</li>
</template>

<template id="tpl-form-answer-radio">
	<ul class="form-answer-radio">
		{{#each choices}}
		<li id="question-{{../id}}-answer-{{id}}">
			<input type="radio" name="question-{{../id}}" value="{{id}}">
			<label>
				{{label}}
			</label>
		</li>
		{{/each}}
	</ul>
</template>

<template id="tpl-form-answer-checkbox">
	<ul class="form-answer-checkbox">
		{{#each choices}}
		<li id="question-{{../id}}-answer-{{id}}">
			<input type="checkbox" name="question-{{../id}}[]" value="{{id}}">
			<label>
				{{label}}
			</label>
		</li>
		{{/each}}
	</ul>
</template>
{% endraw %}

<script>
	document.addEventListener('DOMContentLoaded', function() {
		const MANAGER = new QuestionManager(QUESTIONS);
	}, false);
</script>
{% include footer.html %}
