<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>{{ site.title }}</title>

		<meta name="description" content="{{ site.description }}">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

		<link rel="canonical" href="{{ site.baseurl }}/en/">
		<link rel="alternate" hreflang="fr" href="{{ site.baseurl }}/fr/">
	</head>
	<body>
		<header id="topbar">
			<div class="container">
				<h1>
					<a href="{{ site.baseurl }}/">
						{{ site.title }}
					</a>
				</h1>

				<nav>
					<ul aria-label="Main pages">
						<li><a href="{{ site.baseurl }}/firebase.html">About</a></li>
					</ul>

					<ul aria-label="Language">
						<li><a href="#0" hreflang="fr">FR</a></li>
						<li><span>EN</span></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="page">
