$font_body: 'Merriweather', "Georgia", serif;
$font_title: 'Montserrat', sans-serif;


$white: #f4f7f9;
$light: #eff3f6;
$grey: #ced7df;
$dark: #59626a;
$black: #323b43;


$orange: #dc5034;
$red: #ee4f4f;
$yellow: #ffcc2f;
$green: #76b852;
$blue: #168eea;