// Candi
// Variables

// ====================================================
// Colors
// ====================================================

$page-bg: #f5f5f5;
$page-color: #424242;

$topbar-bg: #53779b;
$topbar-color: #fff;

$message-bg: #fff;
$message-color: $page-color;
$message-alternate-bg: $topbar-bg;
$message-alternate-color: #fff;

// ====================================================
// Fonts
// ====================================================

$page-font-family: Helvetica, sans-serif;
$page-font-size: 16px;

// ====================================================
// Elements sizes
// ====================================================

$topbar-height: 46px;

$chat-form-height: 60px;

// ====================================================
// Screen dimensions
// ====================================================

$size-smartphone: 22rem;
$size-phablet: 28rem;
$size-tablet: 48rem;
$size-laptop: 75rem;
$size-desktop: 120rem;

// ====================================================
// Media queries
// ====================================================
