// Candi
// Variables

// ====================================================
// Colors
// ====================================================

$page-bg: #36b1bf;
$page-color: #ffffff;

$topbar-bg: #f2385a;
$topbar-color: #fff;

$message-bg: #fff;
$message-shadow-color: transparentize($page-color, .9);
$message-color: #424242;
$message-alternate-bg: #F5A503;
$message-alternate-color: #fff;

// ====================================================
// Fonts
// ====================================================

$page-font-family: Helvetica, sans-serif;
$page-font-size: 16px;

// ====================================================
// Elements sizes
// ====================================================

$topbar-height: 46px;

$chat-form-height: 60px;

// ====================================================
// Screen dimensions
// ====================================================

$size-smartphone: 22rem;
$size-phablet: 28rem;
$size-tablet: 48rem;
$size-laptop: 75rem;
$size-desktop: 120rem;

// ====================================================
// Media queries
// ====================================================
