#chat-box {
	display: flex;
	flex-direction: column;
	height: calc(100vh - #{$topbar-height});
}

#chat-messages {
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex-basis: calc(100% - #{$chat-form-height});
	align-self: stretch;
	overflow: auto;

	.message {
		clear: both;
		border: 8px;
		margin: 10px;
		padding: 10px;
		background-color: $message-bg;
		color: $message-color;
		border-radius: 10px;
		box-shadow: 1px 2px 4px $message-shadow-color;

		&.bot {
			border-bottom-left-radius: 0;
			float: left;
		}
		&:not(.bot) {
			float: right;
			background-color: $message-alternate-bg;
			color: $message-alternate-color;
			border-bottom-right-radius: 0;
		}
	}
}

#chat-form {
	flex-basis: $chat-form-height;
	align-self: flex-end;
	width: 100%;
	padding: 10px;
	overflow: auto;

	& > ul {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-around;
		margin: 0;
		padding: 0;
		list-style-type: none;

		& > li {
			padding: 10px;
		}

		&.form-answer-radio,
		&.form-answer-checkbox {
			& > li {
				& > input {
					display: none;
				}
				& > label {
					padding: 10px;
					background-color: $message-alternate-bg;
					color: $message-alternate-color;
					border-radius: 10px;
					border-bottom-right-radius: 0;
					box-shadow: 1px 2px 4px $message-shadow-color;

					&::before {
						content: '';
					}
				}
			}
		}
		&.form-answer-radio {
			& > li {
				& > label {
					&::before {
						display: none;
					}
				}
			}
		}
		&.form-answer-checkbox {
			& > li {
				& > label {
					&::before {
						display: none;
					}
				}
			}
		}
	}
}
