#topbar {
	height: $topbar-height;
	background-color: $topbar-bg;
	color: $topbar-color;

	& > .container {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		& > h1 {
			align-self: flex-start;
			margin: 0;
		}

		& > nav {
			align-self: flex-end;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			margin: 0;

			& > ul {
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				margin: 0;
				padding: 0;
				list-style: none;

				& > li {
					margin: 0;
					padding: 0;

					& > a,
					& > span {
						display: block;
						padding: 10px 5px;
					}
				}
			}
		}
	}
}
